<div class="col-md-12">
  
 <fieldset class="scheduler-border">
      <legend class="scheduler-border in-hd">Please check all the rules applied</legend>
      <div class="row">
          <div class="col-md-12">
          
            <div class="form-check">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox" value="">
      Invoice amount is correct
    </label>
  </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" value="">
          PO number is correct
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" value="">
          All required documents uploaded
        </label>
      </div>
      <div class="btn btn-md btn-primary pull-right" style="width:15%x; margin-left:10px;" (click)="getRouteData()">Cancel</div>
      <div class="btn btn-md btn-success pull-right" style="width:15%; margin-left:10px;" (click)="onSend()">Send Forward</div>
      
  </div>
  </div>
      
      </fieldset>
    </div>
