
<div class="container-fluid">
  <div class="col-md-12" *ngIf="isLoading">          
    <app-busy [message]="message"></app-busy>
  </div>
  <div class="row">    
    <div class="breadcrumb col-md-12" style="margin-top:30px;">
      <h5 class="card-title" style="vertical-align:middle;"><strong>{{lblHeading}}</strong> </h5>
    </div>
    </div>
    <div class="row">
      <div *ngIf="isRemove" class="text-danger col-md-12">
        <input type="hidden" [(ngModel)]="removeRef" name="supplier.SupplierId" /> Are you sure you want to delete invoice category<strong> {{removeRef.InvoiceCategory}} </strong>?
        <button class="btn btn-danger btn-sm" (click)="onDelete(removeRef.ID)" style="width:80px;">Yes</button>
        <button class="btn btn-default btn-sm" (click)="onNo()" style="width:80px;">No</button>
      </div>
      <div class="col-md-12" *ngIf="!isRemove">
        <table border="0" style="margin:20px auto;width:94%;" class="table table-sm">
          <thead class="th-head" style="">
            <tr style="height:30px;">
              <th style="vertical-align:middle;width:30%">
                <span>Invoice Category </span><i style="vertical-align:middle;" class="fa fa-2x" [ngClass]="{'fa-sort-asc': (!direction),'fa-sort-desc': (direction) }"
                                              aria-hidden="true" (click)="onSort()"></i>
              </th>
              <th style="vertical-align:middle;">Description</th>
              <th style="background:white;border:none;">
                <a [routerLink]="['/invoicecategory/add']">
                  <span class=" btn-add btn btn-primary btn-sm"><i class="fa fa-plus fa-2x" aria-hidden="true"></i></span>
                </a>
             </th>
            </tr>
          </thead>
          <tr *ngFor="let inv of invoiceCat | orderBy: criteria : direction | paginate: { itemsPerPage: pageSize, currentPage: page}">
            <td>{{inv.InvoiceCategory}}</td>
            <td>{{inv.Description}}</td>
            <td class="text-right" style="width:90px;">
              <a [routerLink]="['/invoicecategory/edit',inv.ID]"><span class="btn btn-success btn-sm"><i class="fa fa-pencil fa-fw"></i></span></a>
              <span class="btn btn-danger btn-sm" (click)="onConfirm(inv)"><i class="fa fa-trash-o fa-fw"></i></span>
            </td>
          </tr>
          <tr *ngIf="invoiceCat.length > 4">
            <td colspan="2">
              <pagination-controls (pageChange)="page = $event" style="margin:0px;padding:0px;" (click)="onNext(page)"></pagination-controls>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
